PIL
django<1.4
django-cms>=2.3
south
psycopg2
gunicorn
django-storages
boto
django-mptt==0.5.1
django-tinymce
dj_database_url
-e git+git://github.com/cuker/django-directupload.git#egg=django-directupload
-e git+git://github.com/jamstooks/django-s3-folder-storage.git#egg=django_s3_folder_storage-dev
