{% load menu_tags %}
{% for child in children %}
<li class="{% if child.selected %}active{% endif %}{% if child.ancestor %}active{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %} dropdown">
    {% if child.is_leaf_node %}
    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
    {% else %}
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ child.get_menu_title }}<b class="caret"></b></a>
      {% if child.children %}
        <ul class="dropdown-menu">
        {% for child2 in child.children %}
          {% if child2.children %}
            <li class="divider"></li>
            <li class="nav-header"><a href="{{ child2.attr.redirect_url|default:child2.get_absolute_url }}">{{ child2.get_menu_title }}</a></li>
            {% for child3 in child2.children %}
              <li><a href="{{ child3.attr.redirect_url|default:child3.get_absolute_url }}">{{ child3.get_menu_title }}</a></li>
            {% endfor %}
          {% else %}
            <li><a href="{{ child3.attr.redirect_url|default:child3.get_absolute_url }}">{{ child3.get_menu_title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
</li>
{% endfor %}
