{% extends "base.html" %}
{% load cms_tags %}
{% block body %}
<div class="row">
  <div class="span8 offset2">
    <img src = "{{ STATIC_URL }}images/splashlogo.png">
    <!-- <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="800" height="400" id="FlashID" title="FOSIndex"> -->
    <!-- <param name="movie" value="{{ STATIC_URL }}flash/FOSIndex2007.swf"> -->
    <!-- <param name="quality" value="high"> -->
    <!-- <param name="wmode" value="opaque"> -->
    <!-- <param name="swfversion" value="9.0.45.0"> -->
    <!-- <\!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -\-> -->
    <!-- <\!--[if !IE]>-\-> -->
    <!-- <object type="application/x-shockwave-flash" data="{{ STATIC_URL }}flash/FOSIndex2007.swf" width="800" height="400"> -->
    <!--   <\!--<![endif]-\-> -->
    <!--   <param name="quality" value="high"> -->
    <!--   <param name="wmode" value="opaque"> -->
    <!--   <param name="swfversion" value="9.0.45.0"> -->
    <!--   <param name="expressinstall" value="Scripts/expressInstall.swf"> -->
    <!--   <\!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -\-> -->
    <!--   <div> -->
    <!--     <h4>Content on this page requires a newer version of Adobe Flash Player.</h4> -->
    <!--     <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p> -->
    <!--   </div> -->
    <!--   <\!--[if !IE]>-\-> -->
    <!-- </object> -->
    <!-- <\!--<![endif]-\-> -->
  </object>
  </div>
</div>
<div class="row">
  <div class="span12">
    <hr bgcolor="#339900" id="top-hr">
  </div>
</div>
<div class="row">
  <div class="span3">
	<div id="quick-picks">
      <form name="menuBuilder">
	    <select name="Llist_1" onChange="load1(this.form)">
          <option value="" selected>Select from this list</option>
          {% show_menu 0 100 100 100 %}
	    </select>
	  </form>
	<h1>Quick Picks</h1>
      <p><a href="http://www.folksonspokes.com/cgi-bin/forum/Blah.pl?b-Meetings/">Monthly Meeting</a> </p>
	  <p><br>      
	    <a href="http://www.folksonspokes.com/cgi-bin/forum/Blah.pl?v-cal/">Event Calendar </a><br>
	    <a href="http://www.folksonspokes.com/cgi-bin/forum/Blah.pl?b-clubrides/">Ride Schedule</a><br>
	    <a href="http://www.folksonspokes.com/cgi-bin/forum/Blah.pl?b-hikes/">Hike Schedule</a><br>
	    <a href="http://www.folksonspokes.com/cgi-bin/forum/Blah.pl?b-ski/">Ski Schedule</a></p>
	  <p><br>
	    <a href="http://www.folksonspokes.com/cgi-bin/forum/Blah.pl?">FOS Bulletin Board</a><a href="http://www.folksonspokes.com/cgi-bin/forum/Blah.pl?c-gc/"><br>
        </a><a href="images/Easter2011/2011 ER brochure.pdf">Easter Ride Brochure </a><br>
	    <a href="joinFOS.html">Join FOS</a></p>
	  <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
  <div id="splashpage-main" class="span9">
  {% placeholder main_content %}
  </div>
</div>
<div class="row">
  <div class="span12">
    <table id="footer-logos">
      <tr>
        <td><a href="http://bikeleague.org"><img src="{{ STATIC_URL }}images/Logos/LABlogo.jpg" width="168" height="137" alt="LAB"></a></td>
        <td><a href="http://bikelib.org"><img src="{{ STATIC_URL }}images/Logos/LIBLogo.gif" width="139" height="114" alt="LIB"></a></td>
        <td><a href="http://activetrans.org/"><img src="{{ STATIC_URL }}images/Logos/index_clip_image002.jpg" alt="Active Transportation Alliance" width="151" height="105"></a></td>
        <td><a href="http://bicycleindiana.org/"><img src="{{ STATIC_URL }}images/Logos/IBCLogo.jpg" width="91" height="148" alt="IBC"></a></td>
        <td><a href="http://workingbikes.org/"><img src="{{ STATIC_URL }}images/Logos/Working bikes cooperative.gif" width="120" height="148" alt="WorkBike"></a></td>
      </tr>
    </table>
  </div>
</div>
{% endblock body %}
